# Eclipse project
.cproject
.project
.settings/

# Code Blocks project
bin
obj
*.cbp
*.layout

# CLion project
CMAKELists.txt
.idea

# Object files ie build files
main/build
test-modules/*/main


# Daniel's test project
test/
